.experience__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  
}


.experience__container > div {
  color: rgb(0, 0, 0);
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  background: linear-gradient(
    45deg,
    transparent,
    var(--color-primary),
    transparent
  );
}

.experience__container > div:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
  background-color: rgba(194, 114, 114, 0.5); 
}

.experience__container > div h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: rgb(1, 1, 1);
  font-size: 2.0rem;
}

.experience__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.experience__details {
  display: flex;
  gap: 1rem;
}

.experience__details-icon {
  font-size: 1.5rem;
  margin-top: 6px;
  color:rgb(48, 103, 206);
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .experience__container {
    grid-template-columns: 1fr;
  }

  .experience__container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience__content {
    padding: 1rem;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
  .experience__container {
    gap: 1rem;
  }

  .experience__container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}